.hov {
  cursor: pointer
}

.card-header {
  min-height: 30px !important;
  padding: 12px !important;
}

.brand_dc {
  background-color: rgb(66, 187, 224) !important;
}

.brand_bc {
  background-color: rgb(214, 48, 48) !important;
}

.brand_bcml {
  background-color: rgb(184, 184, 184) !important;
}
