<div class="wrapper wrapper-full-page">
  <div class="full-page login-page" filter-color="black" data-image="./assets/img/login.jpeg">
    <!--   you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 padded_box">
            <form method="#" action="#">
              <div class="card card-login">
                <div class="card-header text-center danger" data-background-color="rose">
                        <img class="img" src="../assets/img/dc_logo.png" />
                  <!-- <div class="social-line">
                                        <a href="#btn" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                        <a href="#pablo" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                        <a href="#eugen" class="btn btn-just-icon btn-simple">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </div> -->
                </div>
                <!-- <div class="center-block">
                                    <button class="btn btn-danger padlft" type="button" (click)="gLogin('Google');"><i class="fa fa-google-plus"></i> | Connect with Google+</button>
                                </div> -->
                <div class="card-content">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">email</i>
                    </span>
                    <div class="form-group label-floating is-empty">
                      <label class="control-label">Username</label>
                      <input type="email" [(ngModel)]="user.email" name="email" class="form-control">
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">lock_outline</i>
                    </span>
                    <div class="form-group label-floating is-empty">
                      <label class="control-label">Password</label>
                      <input type="password" [(ngModel)]="user.password" name="password" class="form-control">
                      <span class="material-input"></span>
                    </div>
                  </div>
                  <div class="row">
                    <a (click)="onClickForgot()" class="pull-right">Forgot something ?</a>
                  </div>
                </div>
                <div class="footer text-center">
                  <!-- <button routerLink="/register" type="button" class="btn btn-rose btn-simple btn-wd btn-lg">Register</button> -->
                  <button (click)="login()" type="button" class="btn btn-defalut btn-round">Let's go</button>

                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- <footer class="footer">
            <div class="container">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                    Home
                                </a>
                        </li>
                        <li>
                            <a href="#">
                                    Company
                                </a>
                        </li>
                        <li>
                            <a href="#">
                                    Portfolio
                                </a>
                        </li>
                        <li>
                            <a href="#">
                                    Blog
                                </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    ©
                    <script async="" src="//www.google-analytics.com/analytics.js"></script>
                    <script>
                        document.write(new Date().getFullYear())
                    </script>2017
                    <a href="https://www.creative-tim.com">Creative Tim</a>, made with love for a better web
                </p>
            </div>
        </footer> -->
    <!-- <div class="full-page-background" style="background-image: url(./assets/img/login.jpeg) "></div> -->
  </div>
</div>
