.drp_down_brand {
  padding: 2%;
  margin-left: 5%;
}

.brand_dc {
  background-color: rgb(66, 187, 224)
}

.brand_bc {
  background-color: rgb(214, 48, 48)
}
.brand_bcml {
    background-color: rgb(184, 184, 184)
  }
