<table class="table table-hover">
  <tbody>
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Doc Type</th>
      <th>Created By</th>
      <th>Sent To</th>
      <th>View</th>
      <th>Edit</th>
    </tr>
    <tr *ngFor="let doc of docList">
      <td>
        {{doc.DocumentTypeName}}
      </td>
      <td>
        {{doc.DocumentCreated| date}}
      </td>
      <td>

        <span [ngClass]="{'txt_class': doc.MimeTypeFileExtension == 'png',
            'pdf_class': doc.MimeTypeFileExtension == 'pdf',
            'doc_class': doc.MimeTypeFileExtension == 'docx'}"></span>
      </td>
      <td>
        {{doc.DocumentCreatedBy}}
      </td>
      <td>
        {{doc.SourcePerson}}
      </td>
      <td>
        <doc-view [docId]="doc.DocumentID"></doc-view>
      </td>
      <td class="td-actions text-right">
        <button type="button" rel="tooltip" title="Edit Task" class="btn btn-primary btn-simple btn-xs">
          <i class="material-icons">edit</i>
        </button>
        <button type="button" rel="tooltip" title="Remove" class="btn btn-danger btn-simple btn-xs">
          <i class="material-icons">close</i>
        </button>
      </td>
    </tr>
  </tbody>
</table>
